<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
	<hibernate-configuration>
		<session-factory>
			<!--必须配置 数据库连接的四大参数，还要一个sql方言 -->
			<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
			<property name="hibernate.connection.url">jdbc:mysql:///hibernate_day03</property>
			<property name="hibernate.connection.username">root</property>
			<property name="hibernate.connection.password">123456</property>
			<!-- 数据库方言 -->
			<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
			
			<!--可选配置  -->
			<!-- 显示sql -->
			<property name="hibernate.show_sql">true</property>
			<!-- 格式化sql语句 -->
			<property name="hibernate.format_sql">true</property>
			
			<!-- 数据库表的创建与修改 -->
			<!--  
				validate检验字段
				create 如果有先删除，在创建，一般用在自己测试
				update 如果有就值执行对数据库操作的语句，如果没有就会先创建一张表，然后进行相应的操作，一般工作使用
			-->
			<property name="hibernate.hbm2ddl.auto">update</property>
					
			<!-- 
				配置数据库的隔离级别,不配置默认为4
			 -->
			 <property name="hibernate.connection.isolation">4</property>
					
			<!-- 
				绑定本地session
			 -->
			<property name="hibernate.current_session_context_class">thread</property>
			
			
			<!-- 引入映射文件 -->
			<mapping resource="com/ihtc/bean/Customer.hbm.xml"/>	
			<mapping resource="com/ihtc/bean/Linkman.hbm.xml"/>	
			
			<mapping resource="com/ihtc/manytomany/Role.hbm.xml"/>
			<mapping resource="com/ihtc/manytomany/User.hbm.xml"/>
						
		</session-factory>
	
	</hibernate-configuration>